body, html {
    height: 100%;
    margin: 0;
	flex-direction: column;
    display: flex;
    background: black;
	margin: 0 20px;
}

.title {
    color: white; /* Белый цвет текста */
    font-size: 2.0em; /* Размер шрифта 16 пикселей */
    text-align: center; /* Выравнивание текста по центру */
    margin-top: 20px; /* Отступ сверху */
    position: absolute; /* Добавляем абсолютное позиционирование */
    top: 20px; /* Устанавливаем отступ сверху от верхнего края страницы */
    left: 50%; /* Располагаем заголовок по центру горизонтали */
    transform: translateX(-50%); /* Центрируем заголовок относительно родительского блока */
    font-weight: 600; /* Устанавливаем полужирное начертание */
}

.top-section {
	height: 20%; /* Верхняя часть занимает 20% высоты страницы */
	width:100%;
}

button:hover {
    background-color: #CACDD5;
}



button {
    display: block;
	font-size: 1.5em;
    font-weight: bold;
    color: #000000;
    background-color: #ffffff;
    border: none;
    cursor: pointer;
	width: 100%;
	height: 100%;
    border-radius: 6px; /* Закругление углов кнопки */
}

.bottom-section {
    height: 20%; /* Нижняя часть занимает 20% высоты страницы */
	width:100%;
}
.middle-section {
    height: 60%; /* Средняя часть занимает 60% высоты страницы */
    width: 100%;
}


#buttons-table2 {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 10px;
    align-items: flex-start;
}
#buttons-table2 div {
    width: calc(50% - 10px);
    padding: 10px;
    box-sizing: border-box;
}
#buttons-table {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 10px;
    align-items: flex-start;
}

#buttons-table div {
    width: calc(50% - 10px);
    padding: 10px;
    box-sizing: border-box;
}